<section class="index">
  <p>
    Welcome to the easy calculator tool specifically built for professional
    servers to quickly calculate and manage guest bills and tips - but on
    the web (so it's better). If this is your first time here, check out the
    description of the tool below. Otherwise, dive right into adding a meal
    or reviewing your earnings with the links above.
  </p>
  <p>
    "Waitstaff Calculator" uses state of the art mathematical techniques,
    such as addition and multiplication, to show you the most complete
    picture possible of your income earned from tips. Under "New Meal"
    (above), the Calculator acts as your Internet POS. Simply enter the
    dollar amount to be pocketed by your employer for the meal you just
    served in "Base Meal Price". Then add the tax rate for your local
    government, and the meager tip percentage your guest is proposing to
    give you.
  </p>
  <aside>
    <p>
      Go ahead and stare incredulously for a minute at this figure if you
      like. Make 'em squirm!
    </p>
  </aside>
  <p>
    Now all you have to do is click "Submit," and you'll see your hard work
    neatly tabulated into a <del>tiny</del> tidy sum, representing your worth
    to humanity through cold, uncaring math.
  </p>
  <p>
    On the "My Earnings" page, you can view the totals of meals served
    and tips received since you've been entering data. If you don't like
    the picture this paints for you, feel free to self-medicate your pain
    with alcohol, and also to press "Reset" from within your drunken
    state, in order to wipe the slate clean and pretend that something
    will change tomorrow.
  </p>
  <footer>
    <p>
      Note: the above paragraphs represents their author's crude attempts at
      wit, and should under no circumstances be taken seriously. Apologies
      are offered in advance to those who are offended by their content.
      Also to those who are offended that I call this garbage "wit." Sorry.
      &#128405;
    </p>
  </footer>
<section>
